body {
  color: lightgray;
  line-height: 1.5em;
  background-image: url("../Assignment-2/Images/olena-sergienko-I3jSS2YfmcU-unsplash.jpg");
  height: 100%;
  background-size: cover;
}

h1 {
  font-family: 'Poiret One', cursive;
}

p, h5, label, .submit { 
  font-family: 'Alegreya Sans SC', sans-serif;
}
h5, label {
  font-weight: 500;
}

p, .submit {
  font-weight: 100;
}

nav {
  background-color: #313c31;
  
}

a {
  color: lightgray;
}

 .socialMedia, .aboutMe {
  background-color: #313c31;

}

hr {
  background-color: darkolivegreen;
}

.paragraph {
  font-size: 25px;
}